# Assession Dimension Schema
Objective: Investigate csv files for station and state. Determine appropriate schema to use in Redshift.

In [4]:
!ls ../data/raw/dimension

hpd_states.txt	HPD_v02r02_stationinv_c20221129.csv

In [5]:
import pandas as pd

In [6]:
df_st = pd.read_csv('../data/raw/dimension/HPD_v02r02_stationinv_c20221129.csv')

In [7]:
df_st.dtypes

StnID                     object
Lat                      float64
Lon                      float64
Elev                     float64
State/Province            object
Name                      object
WMO_ID                   float64
Sample_Interval (min)      int64
UTC_Offset                 int64
POR_Date_Range            object
PCT_POR_Good              object
Last_Half_POR             object
PCT_Last_Half_Good        object
Last_Qtr_POR              object
PCT_Last_Qtr_Good         object
dtype: object

In [9]:
df_s = pd.read_csv('../data/raw/dimension/hpd_states.txt')

In [10]:
df_s

                      AK ALASKA
0                   AL ALABAMA
1                   AR ARKANSAS
2                    AZ ARIZONA
3                 CA CALIFORNIA
4                   CO COLORADO
5                CT CONNECTICUT
6                   DE DELAWARE
7                    FL FLORIDA
8                    GA GEORGIA
9                       GU GUAM
10                    HI HAWAII
11                      IA IOWA
12                     ID IDAHO
13                  IL ILLINOIS
14                   IN INDIANA
15                    KS KANSAS
16                  KY KENTUCKY
17                 LA LOUISIANA
18                  MD MARYLAND
19                     ME MAINE
20                  MI MICHIGAN
21                 MN MINNESOTA
22                  MO MISSOURI
23  MP NORTHERN MARIANA ISLANDS
24               MS MISSISSIPPI
25                   MT MONTANA
26            NC NORTH CAROLINA
27              ND NORTH DAKOTA
28                  NE NEBRASKA
29             NH NEW HAMPSHIRE
30                NJ NEW JERSEY
31                NM NEW MEXICO
32                    NV NEVADA
33                  NY NEW YORK
34                      OH OHIO
35                  OK OKLAHOMA
36                    OR OREGON
37              PA PENNSYLVANIA
38               PR PUERTO RICO
39            SC SOUTH CAROLINA
40              SD SOUTH DAKOTA
41                 TN TENNESSEE
42                     TX TEXAS
43                      UT UTAH
44                  VA VIRGINIA
45            VI VIRGIN ISLANDS
46                   VT VERMONT
47                WA WASHINGTON
48                 WI WISCONSIN
49             WV WEST VIRGINIA
50                   WY WYOMING